@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@plugin "@iconify/tailwind4";

@theme {
	--scale-103: 1.03;
	--breakpoint-mobile-sm: 320px;
	--breakpoint-mobile-md: 375px;
	--breakpoint-mobile-lg: 425px;
	--breakpoint-tablet: 768px;
	--breakpoint-laptop: 1024px;
	--breakpoint-laptop-lg: 1440px;
	--breakpoint-desktop-4k: 1536px;
}

@plugin 'flowbite/plugin' {
	charts: true;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@utility ava-ai-chat-label {
	@apply bg-linear-to-r from-pink-400 via-purple-400 to-blue-400 bg-clip-text text-2xl font-bold text-transparent;
}

@utility ai-chat-button {
	@apply fixed right-8 bottom-5 z-50 flex items-center gap-2 rounded-full bg-linear-to-r from-pink-400 via-purple-400 to-blue-400 px-6 py-3 shadow-lg transition-transform hover:scale-105 active:scale-95;
}

@utility ai-suggestion-button {
	@apply m-1 w-fit rounded-full border border-blue-600 px-2 py-1 text-xs text-blue-600 transition-colors duration-150 ease-in-out hover:bg-blue-600 hover:text-slate-100;
}

@utility generic-input {
	@apply block h-[45px] w-full rounded-xl border border-gray-300 bg-gray-50 p-3 text-sm text-gray-600 placeholder:text-gray-500 focus:border-blue-600 focus:ring-blue-600 disabled:bg-gray-200;
}

@utility generic-text-area {
	@apply block w-full rounded-xl border-gray-300 px-4 py-3 text-sm text-gray-600 focus:border-blue-500 focus:ring-blue-500;
}

@utility generic-input-modified {
	@apply w-full border-b-2 border-x-transparent border-t-transparent border-b-gray-200 bg-transparent py-5 ps-10 text-gray-600 focus:border-x-transparent focus:border-t-transparent focus:border-b-blue-500 focus:ring-0;
}

@utility generic-input-label {
	@apply mb-1 block text-xs font-semibold text-gray-500;
}

@utility generic-quick-link {
	@apply block w-fit font-bold text-blue-600 hover:text-blue-700;
}

@utility generic-input-required-label {
	@apply after:ml-0.5 after:text-gray-600 after:content-['*'];
}

@utility generic-form-submit {
	@apply mb-2 inline-flex h-[45px] w-full items-center justify-center rounded-xl bg-blue-600 px-5 py-2.5 text-sm font-semibold text-slate-100 transition-transform hover:bg-blue-700 active:scale-95 disabled:bg-gray-200 disabled:text-gray-400;
}

@utility generic-nuxt-link {
	@apply inline-flex h-12 w-fit items-center justify-center rounded-lg bg-blue-600 px-3 py-2 font-semibold text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-300;
}

@utility ava-services-quicklinks {
	@apply tablet:px-10 inline-flex h-24 items-center space-x-2 rounded-lg border px-4 text-sm whitespace-nowrap text-gray-500 shadow-sm transition-colors duration-150 ease-linear outline-none hover:border-blue-600;
}

@utility auth-letter-file-input {
	@apply w-fit cursor-pointer rounded-full border px-4 py-2 text-sm whitespace-nowrap backdrop-opacity-50;
}

@utility generic-search-submit-button {
	@apply absolute top-0 right-0 flex h-full w-14 items-center justify-center rounded-xl rounded-l-none bg-blue-600 hover:bg-blue-700;
}

@utility generic-table-cell {
	@apply text-sm;
}

@utility table-filters-form {
	@apply flex items-center space-x-2;
}

@utility table-filter-form-options {
	@apply cursor-pointer rounded-full bg-white px-2 py-1 text-sm whitespace-nowrap text-gray-500 shadow-sm outline-none hover:bg-gray-100;
}

@utility filter-button {
	@apply inline-flex h-[45px] w-fit cursor-pointer items-center justify-center rounded-xl border border-gray-400 px-2 text-sm outline-none hover:bg-gray-100;
}

@layer base {
	th {
		@apply font-bold whitespace-nowrap;
	}

	tr {
		@apply whitespace-nowrap;
	}

	button {
		cursor: pointer;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	tr,
	th,
	span,
	label,
	input,
	a,
	select,
	option,
	button,
	ul,
	li,
	textarea {
		font-family: 'Inter', serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}

.homepage-quicklinks {
	@apply flex size-[90px] items-center justify-center rounded-4xl bg-blue-600 p-3 shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:bg-blue-700;
}

.table-filters-form {
	@apply my-2;
}

.table-page-buttons {
	@apply tablet:w-32 h-full w-[45%] rounded-lg border border-blue-600 bg-white text-center text-sm font-semibold text-blue-600 transition-colors duration-300 hover:bg-blue-600 hover:text-white disabled:border-gray-200 disabled:bg-gray-100 disabled:text-gray-500;
}

.table-filter-buttons {
	@apply inline-flex h-3/4 w-20 items-center justify-between rounded-lg border border-blue-600 px-3 text-center text-sm font-semibold text-blue-600 transition-colors duration-300 hover:bg-blue-600 hover:text-white disabled:border-gray-200 disabled:bg-transparent disabled:text-gray-500 md:h-full md:w-32 md:text-base;
}

.table-headers {
	@apply py-3 text-sm font-bold whitespace-nowrap;
}

.myloc-box {
	position: relative;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myloc-box::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-top-color: #d61f69;
}

.clientloc-box {
	position: relative;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clientloc-box::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-top-color: #db2777;
}

.pac-container {
	border-radius: 10px;
	margin-top: 2px;
	box-shadow: 10px;
}

.pac-item {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
}

.sidebar-chevron-buttons {
	@apply inline-flex flex-grow items-center justify-center rounded-full p-2 transition-colors duration-200 ease-in-out hover:bg-gray-300;
}

.ai-trigger-btns {
	@apply rounded-full border border-gray-600 px-6 py-3 text-gray-600 outline-hidden;
}

.console-layout-spacing {
	@apply laptop:m-5 m-2 flex flex-1 flex-col;
}

/* Special thanks to Flyonui for the skeleton animation: https://flyonui.com/ */
.skeleton {
	will-change: background-position;
	background-image: linear-gradient(105deg, #0000 0% 40%, #fff 50%, #0000 60% 100%);
	background-size: 200% auto;
	background-repeat: no-repeat;
	background-position-x: -50%;
}

/* Define the animation properties in the skeleton-animated class */
.skeleton-animated {
	@apply motion-reduce:[transition-duration:15s];
	animation: skeleton 1.8s ease-in-out infinite;
}

@keyframes skeleton {
	0% {
		background-position: 150%;
	}

	100% {
		background-position: -50%;
	}
}

/* hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
	/* for Chrome, Safari Opera */
	display: none;
}

.hide-scrollbar {
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

/* animation for showing filters for various APIs */
.fade-slide-enter-active,
.fade-slide-leave-active {
	transition: all 0.2s ease-in-out;
}
.fade-slide-enter-from,
.fade-slide-leave-to {
	opacity: 0;
	transform: translateY(-20px);
}
.fade-slide-enter-to,
.fade-slide-leave-from {
	opacity: 1;
	transform: translateY(0);
}

/* thin the scrollbars */
.thin-scrollbar::-webkit-scrollbar {
	width: 8px; /* Adjust the width */
	height: 8px; /* For horizontal scrollbars */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
	background: #6b7280; /* Customize the thumb color */
	border-radius: 4px; /* Rounded corners */
}

.thin-scrollbar::-webkit-scrollbar-track {
	background: none; /* Customize the track color */
}

/* styles for the notification */
.notification-title {
	font-weight: 600;
	font-size: 13px;
}

.notification-content {
	font-size: 13px;
}

.vue-notification-wrapper {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	min-width: 25rem;
}

.vue-notification {
	display: block;
	box-sizing: border-box;
	text-align: left;
	font-size: 12px;
	padding: 10px;
	margin: 0 5px 5px;
	min-height: 50px;
	color: white;
	background: #44a4fc;
	border: 8px;
}
