@import 'tailwindcss';
@import 'flowbite/src/themes/default';

@source '../../pages/**/*.vue';
@source '../../node_modules/flowbite/**/*.{js,ts}';

@theme {
	--scale-103: 1.03;
	--breakpoint-mobile-sm: 320px;
	--breakpoint-mobile-md: 375px;
	--breakpoint-mobile-lg: 425px;
	--breakpoint-tablet: 768px;
	--breakpoint-laptop: 1024px;
	--breakpoint-laptop-lg: 1440px;
	--breakpoint-desktop-4k: 1536px;
}

@plugin 'flowbite/plugin' {
	charts: true;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}

	/* icon for delete icon - also used for remove entry */
	.weui--delete-on-filled {
		display: inline-block;
		width: 24px;
		height: 24px;
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M9.774 5L3.758 3.94l.174-.986a.5.5 0 0 1 .58-.405L18.411 5h.088h-.087l1.855.327a.5.5 0 0 1 .406.58l-.174.984l-2.09-.368l-.8 13.594A2 2 0 0 1 15.615 22H8.386a2 2 0 0 1-1.997-1.883L5.59 6.5h12.69zH5.5zM9 9l.5 9H11l-.4-9zm4.5 0l-.5 9h1.5l.5-9zm-2.646-7.871l3.94.694a.5.5 0 0 1 .405.58l-.174.984l-4.924-.868l.174-.985a.5.5 0 0 1 .58-.405z'/%3E%3C/svg%3E");
		background-color: currentColor;
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
	}

	/* expand to view information icon */
	.oui--expand {
		display: inline-block;
		width: 16px;
		height: 16px;
		--svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='m4.354 12.354l8-8a.5.5 0 0 0-.708-.708l-8 8a.5.5 0 0 0 .708.708M1 10.5a.5.5 0 1 1 1 0v3a.5.5 0 0 0 .5.5h3a.5.5 0 1 1 0 1h-3A1.5 1.5 0 0 1 1 13.5zm14-5a.5.5 0 1 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 1 1 0-1h3A1.5 1.5 0 0 1 15 2.5z'/%3E%3C/svg%3E");
		background-color: currentColor;
		-webkit-mask-image: var(--svg);
		mask-image: var(--svg);
		-webkit-mask-repeat: no-repeat;
		mask-repeat: no-repeat;
		-webkit-mask-size: 100% 100%;
		mask-size: 100% 100%;
	}
}

@utility generic-input {
	@apply tablet:h-[60px] block h-[55px] w-full rounded-xl border border-gray-300 bg-gray-50 p-3 text-sm text-gray-600 placeholder:text-gray-500 focus:border-blue-600 focus:ring-blue-600 disabled:bg-gray-200;
}

@utility generic-text-area {
	@apply block w-full rounded-lg border-gray-200 px-4 py-3 text-sm text-gray-600 focus:border-blue-500 focus:ring-blue-500;
}

@utility generic-input-modified {
	@apply w-full border-b-2 border-x-transparent border-t-transparent border-b-gray-200 bg-transparent py-5 ps-10 text-gray-600 focus:border-x-transparent focus:border-t-transparent focus:border-b-blue-500 focus:ring-0;
}

@utility generic-input-label {
	@apply mb-1 block text-sm font-bold text-gray-600;
}

@utility generic-quick-link {
	@apply block w-fit font-bold text-blue-600 hover:text-blue-700;
}

@utility generic-input-required-label {
	@apply after:ml-0.5 after:text-gray-600 after:content-['*'];
}

@utility generic-form-submit {
	@apply tablet:h-[60px] me-2 mb-2 inline-flex h-[55px] w-full items-center justify-center rounded-lg bg-blue-600 px-5 py-2.5 text-sm font-semibold text-white shadow-md shadow-gray-400 hover:bg-blue-700 disabled:bg-gray-200;
}

@utility generic-nuxt-link {
	@apply inline-flex h-12 w-fit items-center justify-center rounded-lg bg-blue-600 px-3 py-2 font-semibold text-white hover:bg-blue-700 focus:ring-4 focus:ring-blue-300;
}

@utility ava-services-quicklinks {
	@apply inline-flex h-full items-center space-x-2 rounded-lg border px-3 whitespace-nowrap text-gray-500 md:w-1/4;
}

@utility auth-letter-file-input {
	@apply w-fit cursor-pointer rounded-full border px-4 py-2 text-sm whitespace-nowrap backdrop-opacity-50;
}

@utility generic-search-submit-button {
	@apply absolute top-0 right-0 flex h-full w-14 items-center justify-center rounded-lg rounded-l-none bg-blue-600 hover:bg-blue-700;
}

@utility generic-table-cell {
	@apply text-sm;
}

@utility table-filters-form {
	@apply flex items-center space-x-2;
}

@utility table-filter-form-options {
	@apply cursor-pointer rounded-full bg-white px-2 py-1 text-sm whitespace-nowrap text-gray-500 shadow-sm outline-none hover:bg-gray-100;
}

@layer base {
	th {
		@apply font-bold whitespace-nowrap;
	}

	tr {
		@apply whitespace-nowrap;
	}

	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	tr,
	th,
	span,
	label,
	input,
	a,
	select,
	option,
	button,
	ul,
	li,
	textarea {
		font-family: 'Inter', serif;
		font-optical-sizing: auto;
		font-weight: 400;
		font-style: normal;
	}
}

.homepage-quicklinks {
	@apply flex size-[90px] items-center justify-center rounded-4xl bg-blue-600 p-3 shadow-md transition-all duration-300 ease-in-out hover:scale-105 hover:bg-blue-700;
}

.table-filters-form {
	@apply my-2;
}

.table-page-buttons {
	@apply h-full w-20 rounded-lg border border-blue-600 text-center text-sm font-semibold text-blue-600 transition-colors duration-300 hover:bg-blue-600 hover:text-white disabled:border-gray-200 disabled:bg-transparent disabled:text-gray-500 md:h-full md:w-32;
}

.table-filter-buttons {
	@apply inline-flex h-3/4 w-20 items-center justify-between rounded-lg border border-blue-600 px-3 text-center text-sm font-semibold text-blue-600 transition-colors duration-300 hover:bg-blue-600 hover:text-white disabled:border-gray-200 disabled:bg-transparent disabled:text-gray-500 md:h-full md:w-32 md:text-base;
}

.table-headers {
	@apply px-6 py-3 text-sm font-bold whitespace-nowrap;
}

.myloc-box {
	position: relative;
	padding: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myloc-box::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-top-color: #d61f69;
}

.clientloc-box {
	position: relative;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.clientloc-box::after {
	content: '';
	position: absolute;
	bottom: -20px;
	left: 50%;
	transform: translateX(-50%);
	border: 10px solid transparent;
	border-top-color: #db2777;
}

.pac-container {
	border-radius: 10px;
	margin-top: 2px;
	box-shadow: 10px;
}

.pac-item {
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 12px;
}

.sidebar-chevron-buttons {
	@apply inline-flex flex-grow items-center justify-center rounded-full p-2 transition-colors duration-200 ease-in-out hover:bg-gray-300;
}

.ai-trigger-btns {
	@apply rounded-full border border-gray-600 px-6 py-3 text-gray-600 outline-hidden;
}

.console-layout-spacing {
	@apply m-2 flex-grow xl:m-10;
}

/* Special thanks to Flyonui for the skeleton animation: https://flyonui.com/ */
.skeleton {
	will-change: background-position;
	background-image: linear-gradient(105deg, #0000 0% 40%, #fff 50%, #0000 60% 100%);
	background-size: 200% auto;
	background-repeat: no-repeat;
	background-position-x: -50%;
}

/* Define the animation properties in the skeleton-animated class */
.skeleton-animated {
	@apply motion-reduce:[transition-duration:15s];
	animation: skeleton 1.8s ease-in-out infinite;
}

@keyframes skeleton {
	0% {
		background-position: 150%;
	}

	100% {
		background-position: -50%;
	}
}

/* hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
	/* for Chrome, Safari Opera */
	display: none;
}

.hide-scrollbar {
	/* Hide scrollbar for IE, Edge and Firefox */
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
