@import "tailwindcss";
/* @import "nuxt-notify/styles"; */
@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "flyonui/flyonui.js";
@import "flyonui/src/vendor/flatpickr.css";
@import "flatpickr/dist/flatpickr.css";

:root {
  --vis-donut-background-color: transparent !important;
}

@theme {
  --scale-103: 1.03;
  --breakpoint-mobile-sm: 320px;
  --breakpoint-mobile-md: 375px;
  --breakpoint-mobile-lg: 425px;
  --breakpoint-tablet: 768px;
  --breakpoint-laptop: 1024px;
  --breakpoint-laptop-lg: 1440px;
  --breakpoint-desktop-4k: 1536px;
}

@plugin "flyonui" {
  themes:
    light --default,
    black --prefersdark,
    dark;
}

@plugin "flyonui/theme" {
  name: "light";
  default: true;
  --color-primary: #1447e6;
}

.any-border {
  @apply border-[1.4px] border-base-content/20;
}

.any-border-b {
  @apply border-b-[1.4px] border-base-content/20;
}

.any-border-r {
  @apply border-r-[1.4px] border-base-content/20;
}

.any-border-l {
  @apply border-l-[1.4px] border-base-content/20;
}

.any-border-t {
  @apply border-t-[1.4px] border-base-content/20;
}

.card {
  @apply border-[1.4px] shadow-none border-base-content/20;
}

/* .input {
  @apply border-[1.4px] focus:border-[1.6px] border-base-content/20 focus:border-base-content/50 transition-all duration-150 ease-in-out;
} */

.transtion-shared {
  @apply duration-200 ease-in-out;
}

/* hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  /* for Chrome, Safari Opera */
  display: none;
}

.hide-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  /* for Chrome, Safari Opera */
  display: none;
}

.hide-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* thin the scrollbars */
.thin-scrollbar::-webkit-scrollbar {
  width: 8px; /* Adjust the width */
  height: 8px; /* For horizontal scrollbars */
}

.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280; /* Customize the thumb color */
  border-radius: 4px; /* Rounded corners */
}

.thin-scrollbar::-webkit-scrollbar-track {
  background: none; /* Customize the track color */
}

.myloc-box {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.myloc-box::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: var(--color-primary);
}
