@import "tailwindcss";
@plugin "flyonui";
@plugin "@iconify/tailwind4";
@import "flyonui/variants.css";
@source "flyonui/flyonui.js";

@plugin "flyonui" {
  themes:
    light --default,
    black --prefersdark,
    dark;
}

.transtion-shared {
  @apply duration-200 ease-in-out;
}

/* hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
  /* for Chrome, Safari Opera */
  display: none;
}

.hide-scrollbar {
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
